html {
  height: 100%;
  width: 100%;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
#topImg {
  padding: 0px;
  margin: 0px;
  height: 2.5rem;
  max-width: 1440px;
  align-items: center;
}
#topImg > img {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  max-width: 1312px;
  height: 40px;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  margin-left: 64px;
  justify-content: space-between;
}
#logoPic > img {
  width: 48px;
  height: 57px;
}
#logo {
  display: flex;
  flex-direction: row;
  align: left;
}

#logoText > p {
  line-height: 0.9;
  font-weight: 600;
  font-size: 24px;
  color: #29180f;
}

#navigation {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

#navigationButton {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 18px;
  color: #29180f;
  gap: 53px;
  align-items: center;
}
#navigationIcon {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#navigationIcon > div > img {
  width: 24px;
  height: 24px;
}

#Acquista > button {
  width: 131px;
  height: 33px;
  border-radius: 71px;
  padding: 8px, 20px, 8px, 20px;
  background-color: #89d3d1;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: #89d3d1;
}
#banner > img {
  width: 100%;
  height: 628px;
}

#collezioni {
  height: 750px;
  width: 1440px;
  background-color: #f7f2ec;
}
#collezioniPara1 {
  margin-top: 63px;
  margin-left: 166px;
  margin-right: 166px;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: center;
}

#collezioniPara2 {
  margin-top: 10px;
  margin-left: 237px;
  margin-right: 237px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.1px;
  text-align: center;
}
#bannerCard {
  margin-top: 60px;
  margin-left: 53px;
  /* border: 2px solid black; */
  margin-right: 53px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bannerCard_box {
  width: 390px;
  height: 491px;
  border-radius: 28px;
  border: 3px solid white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* border: 2px solid red; */
}

.bannerCard_img {
  width: 100%;
  height: 351px;
}
.bannerCard_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerCard_title {
  padding: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: center;
  margin-top: 15px;
}

.bannerCard_dis {
  font-size: 16px;
  margin: 10px 25px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
#productDiv {
  background-color: #f7f2ec;
}
#productDivText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productDivText > div {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  width: fit-content;
  height: 67px;
  border: 3px solid #c9b079;
  display: flex;
  border-radius: 62px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 8px 0px 0px;
}
#productDivText > div >img{
  height: 58px;
  width: 100px;

}